
.menu ul{
  margin: 0;
  padding-left: 0;
  list-style-type: none;

}

.menu li{ display: inline-block;
    }

.menu a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333333;
}

.menu a:hover{
  color: #0081C2;
  background-color:#dddddd; 
}

.menu a.is-current{
  color: #0081C2;
  background-color: white;
}



/* Style the tab */

.menu {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: bold; 
  
}

